* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Asap';
    src: url("fonts/Asap-Regular.ttf");
}

:root {
    --text-success: #749d35;
    --text-gray-400: #ced4da;
    --text-black: #111111;
    --text-black-400: #212529;
    --text-black-500: #adb5bd;
    --text-black-600: #6c757d;
    --bg-gray: #eee;
}

.bg-primary-gradiant {
    background: linear-gradient(135deg, var(--theme-color), var(--theme-color-shade)) !important
}

.bg-gold-gradiant {
    background: linear-gradient(to right, #d88945, #f2c94c) !important;
}

.bg-mini-gradiant {
    background: linear-gradient(to right, #ee0979, #ff6a00) !important;
}

.bg-blue-gradiant {
    background: linear-gradient(to right, #0575e6, #021b79) !important;
}

.bg-red-gradiant {
    background: linear-gradient(to right, #e44d26, #f16529) !important;
}

.bg-grey-light {
    background-color: #f5f5f5 !important;
}

.bg-success-gradiant {
    background: linear-gradient(to right, #749d35, #b1d823) !important;
}

.bg-secondary {
    background-color: #f7f9fa !important;
}

span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0;
    color: var(--text-black);
    text-transform: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    font-size: 41px;
    color: var(--text-black);
}

h2,
h3 {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
}

.top-navbar {
    border-bottom: 2px solid #749d35;
}

.top-navbar ul.left li i {
    color: var(--text-success);
    font-size: 30px;
}

.top-navbar ul.left li div span:nth-child(1) {
    font-size: 16px;
}

.top-navbar ul.left li div span:nth-child(2) {
    font-size: 15px;
    color: var(--text-black-600);
}

.navbar {
    background-color: #FFF;
    z-index: 99;
}

.navbar-brand {
    width: 80px;
}

.navbar-brand .text {
    line-height: normal;
    margin-top: -35%;
    margin-left: -20%;
}

.navbar-brand .text p {
    font-size: 16px;
    color: var(--text-black);
    font-weight: bold;
}

.navbar-brand .text span {
    font-size: 14px;
    color: var(--text-black-600);
}

.navbar-nav .nav-link.active {
    color: var(--text-success);
}

.navbar-nav .nav-link.active::after {
    width: 100%;
}

.navbar-nav .nav-link {
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .5px;
    color: #222;
    text-transform: uppercase;
    font-style: normal;
    transition: .5s ease-in-out;
    position: relative;
    padding: 0 !important;
    width: fit-content;
}

.navbar-nav .nav-item:last-child {
    border-right: none;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 0;
    height: 2px;
    background-color: var(--text-success);
    transition: .5s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: var(--text-success);
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-item {
    border-right: 1px solid #eee;
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn-close:focus {
    box-shadow: none;
}

.dropdown-toggle:focus {
    box-shadow: none !important;
}

.home {
    position: relative;
    height: 100vh;
}

.home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.home img {
    height: 100%;
    object-fit: cover;
}

.home .carousel-caption {
    position: absolute;
    bottom: 50%;
    left: 10%;
    transform: translateY(50%);
    z-index: 2;
    text-align: left;
    width: fit-content;
    padding: 0 10px;
}

.home .carousel-caption h5 {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    width: 60%;
    padding: 10px;
    border-radius: 2px;
}

.home .carousel-caption p {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: linear-gradient(to right, #FFF, #d4e4d5) !important;
    color: #212529;
    width: fit-content;
    margin: 30px 0;
    border-radius: 2px;
    padding: 5px;
}

.home .carousel-caption .btn-contact {
    transition: .5s ease-in-out;
    position: relative;
    z-index: 2;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    color: #111111 !important;
    padding: 10px !important;
}

.home .carousel-caption .btn-contact::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FFF !important;
    transition: .5s ease-in-out;
    z-index: -2;
}

.home .carousel-caption .btn-contact::after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 6px;
    transition: .5s ease-in-out;
    z-index: -2;
}

.home .carousel-caption .btn-contact:hover::after {
    right: 0;
}

.home .carousel-caption .btn-contact:hover {
    color: #fff !important;
}

.home .carousel-caption .btn-contact:hover i {
    margin-right: 5px;
    animation: arrowAnimation 1s both;
}

@keyframes arrowAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(90%);
    }
}

.home .carousel-indicators {
    margin-bottom: 5rem;
}

.about-us {
    background-color: #86bb46;
    color: #FFF;
    padding: 20px 0;
    position: relative;
}

.about-us h2 {
    text-transform: capitalize;
}

.about-us p {
    text-transform: capitalize;
}

.about-us .btn-light {
    background-color: transparent;
    border-radius: 0;
    color: #FFF;
    padding: 10px 20px;
    transition: .5s ease-in-out;
}

.about-us .btn-light:hover {
    background-color: #FFF;
    color: #111111;
}

.about-us .img {
    width: 100px;
}

.who img {
    width: 100%;
    height: 100%;
}

.who .img {
    position: relative;
}

.who .btn-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #FFF;
    border-radius: 50%;
}

.who .btn-video i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #86bb46;
    font-size: 30px;
    cursor: pointer;
}

.who .btn-video::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #FFF;
    border: 10px solid #FFF;
    border-radius: 50%;
    opacity: .2;
    animation: play 1.5s infinite;
    z-index: -1;
}

@keyframes play {
    from {
        width: 100px;
        height: 100px;
    }

    to {
        width: 150px;
        height: 150px;
    }
}

.heading {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #749d35;
    font-weight: 600;
}

.who h2 {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    ;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    margin: 20px 0;
}

.who p:not(.heading) {
    color: #888888;
    font-size: 16px;
}

#video-popup-container {
    display: none;
    position: fixed;
    z-index: 996;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    top: 20%;
    background-color: #fff;
}

#video-popup-close {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 998;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    background-color: #000;
    line-height: 25px;
    color: #fff;
}

#video-popup-iframe-container {
    position: absolute;
    z-index: 997;
    width: 100%;
    padding-bottom: 56.25%;
    border: 2px solid #000;
    border-radius: 2px;
    background-color: #000;
}

#video-popup-iframe {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
}

#video-popup-overlay {
    display: none;
    position: fixed;
    z-index: 995;
    top: 0;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

#video-popup-close:hover {
    color: #749d35;
}

.why-chooseUs h2 {
    font-size: 25px;
    line-height: 35px;
    color: #111111;
    font-weight: 700;
}

.why-chooseUs .item span {
    background: linear-gradient(to right, #749d35, #b1d823);
    color: #FFF;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    font-weight: 700;
}

.why-chooseUs .item p {
    margin-top: 20px;
    text-transform: capitalize;
    text-align: center;
}

.why-chooseUs h2~p {
    font-size: 20px;
}

.blogs .item h3 {
    color: #749d35;
    margin-top: 20px;
}

.blogs .item h4 {
    margin-bottom: 20px;
    font-size: 20px;
}

.blogs .row a {
    width: fit-content;
    text-transform: uppercase;
    color: #111111;
    border: 2px solid #6c757d;
    padding: 5px;
    position: relative;
    margin: auto;
}

.blogs .row a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0px;
    background-color: #86bb46;
    transition: 1s ease-in-out;
}

.blogs .row a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -2px;
    height: 2px;
    width: 0px;
    background-color: #86bb46;
    transition: 1s ease-in-out;
}

.blogs .row a:hover {
    border-color: #86bb46;
}

.blogs .row a:hover::after {
    width: 100%;
}

.blogs .row a:hover::before {
    width: 100%;
}

.welcome img {
    object-fit: cover;
}

.welcome .row .col-md-6:nth-child(2) {
    background-color: #FFF;
    padding: 30px 10px;
    border-radius: 5px;
}

.our-partners .item {
    position: relative;
    border-bottom: 1px solid #6c757d;
    width: 80%;
    height: 80px;
    margin: auto;
    padding-bottom: 5px;
}

.our-partners .item img {
    cursor: pointer;
    margin: auto;
    display: block;
}

.our-partners .item::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -14px;
    border-top: 10px solid #6c757d;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    transition: 1s ease-in-out;
    transform: rotate(-45deg);
    transition: 1s ease-in-out;
}

.our-partners .item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 0;
    background-color: #86bb46;
    transition: 1s ease-in-out;
}

.our-partners .item:hover::after {
    width: 100%;
}

.our-partners .item:hover::before {
    border-top-color: #86bb46;
}

.clients .img {
    position: relative;
}

.clients div .img {
    height: 200px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.clients div img {
    object-fit: contain;
    opacity: .5;
}

.clients .img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
}

.slick-current img {
    opacity: 1 !important;
}

.slick-current .img {
    border: 5px solid #86bb46;
}

.slick-current .img::after {
    background-color: transparent;
}

.footer {
    background-color: #0c121d;
    color: #FFF;
}

.footer .text {
    text-align: center;
    margin-bottom: 0;
    border-top: 1px solid #86bb46;
}

.footer ul li {
    position: relative;
    padding-left: 15px;
}

.footer ul li::after {
    content: '';
    position: absolute;
    top: 5px;
    left: -10px;
    border-top: 5px solid #86bb46;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #86bb46;
    border-right: 5px solid transparent;
    transform: rotate(135deg);
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #86bb46;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 99;
    display: none;
}

.back-to-top.show {
    display: block;
}

.back-to-top a {
    color: #FFF;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    display: block;
}

.contact .row .item {
    background-color: #86bb46;
    color: #FFF;
    padding: 40px 20px;
    z-index: 2;
}

.contact .row .item h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.contact .row .item h3 {
    text-transform: capitalize;
    font-size: 25px;
}

.contact .row .item p {
    font-size: 15px;
    color: rgba(255, 255, 255, .8);
}

.contact .row .item a {
    color: rgba(255, 255, 255, .8);
}

.contact .row .item a:hover {
    text-decoration: underline;
}

.contact .row .col-md-6:nth-child(2) h2 {
    font-weight: 700;
    color: #111111;
}

.contact .row .form-control {
    border: none;
    border-bottom: 1px solid #6c757d;
    border-radius: 0 !important;
}

.contact .row .form-control:focus {
    box-shadow: none;
    border-bottom-color: #86bb46;
}

.gallary .img {
    position: relative;
}

.gallary div .img {
    height: 200px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallary div img {
    object-fit: cover;
    opacity: .5;
    height: 100%;
}

.gallary .img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
}

.slick-current img {
    opacity: 1 !important;
}

.slick-current .img {
    border: 5px solid #86bb46;
}

.slick-current .img::after {
    background-color: transparent;
}

.accordion-button:not(.collapsed) {
    color: #FFF;
    background-color: #86bb46;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}